<div class="main-container">
  <div class="cards-container">
    <div class="row">
      <% @puppies.each do |puppy| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card">
            <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.05)), url('<%= cl_image_path puppy.photo.path %>')">
              <span class="card-name"><%= puppy.name %></span>
              <a class="card-link" href="<%= puppy_path(puppy) %>"></a>
            </div>
            <div class="card-footer">
              <p>Posted on 22/11/19</p>
              <div class="controls">
                <a href="#"><i class="fa fa-star"></i></a>
                <a href="#"><i class="fa fa-heart"></i></a>
                <a href="#"><i class="fa fa-share"></i></a>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>

    <div id="map"></div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  <% end %>
<% end %>
