<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= render "picture", puppy: @puppy %>
    </div>
  </div>

    <p class="puppy-description"><%= @puppy.description %></p>

  <div class="row">
    <div class="col-xs-6">
      <div class="puppy-reviews">
        <%= simple_form_for [@puppy, @review] do |f| %>
        <%= f.label :comment %>
        <%= f.input :comment, label:false, input_html: {class: "form-control comment"}%>
        <%= f.label :rating %>
        <%= f.input :rating, label:false, input_html: {class: "form-control rating"} %>
        <%= f.button :submit, class: "btn btn-danger" %>
        <% end %>
        <% @puppy.reviews.each do |review| %>
        <p><%= review.rating %></p>
        <p><%= review.comment %></p>
        <% end %>
      </div>
    </div>
    <div class="col-xs-4 col-xs-offset-1 col-md-2 col-md-offset-2">
      <div class="puppy-booking">
        <%= simple_form_for [@puppy, @booking] do |f| %>
          <%= f.label :date %>
          <%= f.input :date, as: :string, input_html:  {class: "form-control", "data-provide":"datepicker"} %>
          <%= f.button :submit, "Book", class: "btn btn-danger btn-book" %>
        <% end %>
      </div>
    </div>

  </div>
</div>
